body{
    overflow-x: hidden;
}

.header{
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 20;
}

.logo{
    background-color: #ffa7a7;
    color: #ffffff;
}

.menu{
    width: 35em;
    justify-content: space-around;
}

.menu-titu{
    margin: auto;
}
.menu-ul{
    width: 100%;
    margin: auto;
    justify-content: space-around;
    list-style: none;
}

.link:hover{
    color: #0000001f;
}

#saludo{
    background-color: #ffa7a7;
    color: #ffffff;
}

.card-title{
    text-align: center;
}

.card-text{
    display: flex;
}

.content-text{
    background-color: #f88787;
    margin: 10px;
    padding: 15px;
    border-radius: 10px
}

.margen{
    margin: 5px;
}

.margen-auto1{
    margin: 10px auto;
}

.margen-auto2{
    margin: auto ;
}

.button{
    border: none;
    background-color: #ffa7a7;
    color: #ffffff;

    text-decoration: none;
    text-align: center;
}

.button:hover{
    background-color: #f88787;
}

.formulario{
    color: #ffffff;
    background: #afafaf;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

.footer{
    bottom: 0;
    background-color: #ffa7a7;
    color: #ffffff;
    position: absolute;
    width: 100%;
    z-index: 20;
}

.text-size{
    font-size: 25px;
}



